@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Font for flag emojis */
@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }

/* Main body and Titles */
body {
	font-family: 'NotoColorEmojiLimited', 'Open Sans', sans-serif;
	line-height: 2em;
	font-size: 20px;
	background-color: #000000;
	color: #dddddd;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

a[href] {
	color: #dddddd;
    text-decoration: underline;
}

a[href]:hover {
	color: #eeb6f2;
    text-decoration: underline;
}

li {
	line-height: 1.5em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align:left;
    width:49%;
    display: inline-block;
}

.right {
    text-align:right;
    width:50%;
    display: inline-block;
}

/* quotes */
#quote {
    color: #16f7dd;
}

/* Inner Box */
#card
{ width: 900px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 20px 20px 20px;
  background: #101010;
  border: 10px solid #050505;
} 


/* Tables */
table {
    border-collapse: collapse;
    width: 800px;
}
  
tr, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
}
  
tr:hover {
    background-color: #300022;
}

tr:hover a[href] {
    text-decoration: underline;
}

td a[href]{
    text-decoration: none;
}

/* Selector */

select {
    margin:auto;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    text-align:center;
    width: 20em;
    height: 3em;
    padding: 0 1em 0 1em;
    color: #bbbbbb;
    background-color: #101010;
    border-radius: 0.25em;
    cursor: pointer;
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
}
  
/* Navigation Header */
nav {
    width: 900px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background: #000000;
    padding: 20px 20px 20px 20px;
    text-align:center;
}

nav a[href] {
    font-size: 32px;
	line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}
